body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 53px;
    height: 30px;
    margin-right: 5px;
}
.logo span {
    display: flex;
    align-items: center;
    margin-top: 5px; /* 필요에 따라 조절 가능 */
}

.nav-links {
    display: flex;
    margin-left: auto; /* 화면 우측으로 이동 */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 0px;
    display: flex;
    align-items: center; /* 아이콘과 텍스트를 수직 가운데 정렬 */
}

.nav-links a img {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* 아이콘과 텍스트 사이의 간격을 조정 */
}

.nav-links a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 80px;
    margin-left: auto; /* 가운데 정렬을 위해 auto로 설정 */
    margin-right: auto;
    max-width: 600px; /* 최대 너비 설정 */
}
